# OS
.DS_Store

# Python
venv/
__pycache__/
*.pyc
*.pyo

# TTS Models
en_US-hfc_female-medium.onnx
en_US-hfc_female-medium.onnx.json


# Large model files — do not commit these
*.zip
*.pt
*.pth

#log files
modules/logs/
# Ollama models are stored system-wide, not in project
