venv311/ #Ignore my personal virtual enviorment
data/output.wav #ignore the output file created by the tts model
modules/__pycache__/ #ignore the cache created when running the model
yolov8n.pt #ignore the YOLO model weights
