# OS
.DS_Store

# Python
venv/
__pycache__/
*.pyc
*.pyo




# Large model files — do not commit these
vosk-model-small-en-us-0.15/
*.zip
*.pt
*.pth

#log files

modules/logs/
# Ollama models are stored system-wide, not in project